/*
  @Author : DigitalSalt
  @Project : Asia Impact
  @Date : 27/12/2023
*/

/* config */
@import "config/mixin";
@import "config/typography";
@import "config/spacing";
@import "config/colors";

/* elements */
@import "elements/reset";
@import "elements/normalize";
@import "elements/elements";

/* common */
@import "common/common";
@import "common/btn";

/* base */

// Base file goes here

/* module */

// module file goes here

/* layout */

// layout file goes here
