:root {
  --ds-clr-white: #ffffff;
  --ds-clr-black: #000000;
}

/* fonts */
$font: "Montserrat", sans-serif;

/* font-weights */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* breakpoints */
$xxxs: 375px;
$xxs: 416px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xxl: 1280px;
$xxxl: 1600px;
$xxxxl: 1920px;
