.highlightList {
  margin-top: var(--spacing-16);
  .item {
    margin-bottom: var(--spacing-12);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.highlightCard {
  padding: var(--spacing-12);
}

@media only screen and (min-width: 768px) {
  .highlightList {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing-16);
    .item {
      width: 50%;
      &:nth-of-type(odd) {
        padding-right: var(--spacing-16);
      }
      &:nth-of-type(even) {
        padding-left: var(--spacing-16);
      }
    }
  }
}
