@import "../../styles/sass/config/mixin";

.logoContentWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  i {
    display: block;
    margin: 0 auto var(--spacing-32);
    &.success {
      @include svg-icon("../../../../public/assets/icons/tick-circle-checked.svg", 12rem, 12rem);
      background-color: var(--clr-green-2);
    }
    &.error {
      @include svg-icon("../../../../public/assets/icons/close-circle.svg", 12rem, 12rem);
      background-color: #c62e15;
    }
  }
  .title {
    font-size: var(--font-size-32);
    line-height: 110%;
    color: var(--clr-primary-black);
    font-family: var(--font-2);
    font-weight: var(--font-semibold);
    margin-bottom: var(--spacing-20);
    text-align: center;
  }
  .content {
    font-size: var(--font-size-16);
    line-height: 120%;
    color: var(--clr-secondary);
    text-align: center;
    max-width: 85vw;
    margin: 0 auto;
    @media only screen and (min-width: 768px) {
      max-width: 85%;
    }
  }
  @media only screen and (min-width: 768px) {
    max-width: 50rem;
    margin: 0 auto;
  }
}
